In [1]:
import requests
response = requests.get('https://data.police.uk/api/crimes-street-dates')
print(response.status_code)

200

In [2]:
import json
dict1 = response.json()

In [9]:
# dict1

In [10]:
# dict1[0]['stop-and-search']

In [15]:
# import csv
# data_file = open('file1.csv','w',newline='')
# csv_writer = csv.writer(data_file)

# count = 0
# for data in dict1:
#     if count == 0:
#         header = data.keys()
#         csv_writer.writerow(header)
#         count += 1
#         values = dict1[0:]['stop-and-search']
#     csv_writer.writerow(values)
# data_file.close()

In [16]:
import json

out_file = open("myfile.json", "w") 
    
json.dump(dict1, out_file) 
    
out_file.close()

In [17]:
import json
import csv
with open('myfile.json') as json_file:
    jsondata = json.load(json_file)
 
data_file = open('jsonoutput1.csv', 'w', newline='')
csv_writer = csv.writer(data_file)
 
count = 0
for data in jsondata:
    if count == 0:
        header = data.keys()
        csv_writer.writerow(header)
        count += 1
        values = [i[0:] for i in data.values()]
    csv_writer.writerow(values)
 
data_file.close()

In [18]:
import pandas as pd
df = pd.read_csv('jsonoutput1.csv')

In [19]:
df.head()

      date                                    stop-and-search
0  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
1  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
2  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
3  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
4  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...

In [25]:
res = []
for i in df['stop-and-search']:
    res.append(i[1:571])

In [28]:
# res[0]

In [32]:
dict2 = {'date':df['date'], 'stop-and-search':res}

In [33]:
df2 = pd.DataFrame(dict2)

In [34]:
df2.head()

      date                                    stop-and-search
0  2021-10  'avon-and-somerset', 'bedfordshire', 'btp', 'c...
1  2021-10  'avon-and-somerset', 'bedfordshire', 'btp', 'c...
2  2021-10  'avon-and-somerset', 'bedfordshire', 'btp', 'c...
3  2021-10  'avon-and-somerset', 'bedfordshire', 'btp', 'c...
4  2021-10  'avon-and-somerset', 'bedfordshire', 'btp', 'c...

In [39]:
df.to_csv('crime_street.csv', index= False)

In [40]:
df2 = pd.read_csv('crime_street.csv')

In [41]:
df2

       date                                    stop-and-search
0   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
1   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
2   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
3   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
4   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
5   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
6   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
7   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
8   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
9   2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
10  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
11  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
12  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
13  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
14  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
15  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
16  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
17  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
18  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
19  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
20  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
21  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
22  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
23  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
24  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
25  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
26  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
27  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
28  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
29  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
30  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
31  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
32  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
33  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
34  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...
35  2021-10  ['avon-and-somerset', 'bedfordshire', 'btp', '...